// local bootstrap setup/overrides
:root {
  --base03: #{$base03};
  --base02: #{$base02};
  --base01: #{$base01};
  --base00: #{$base00};
  --base0: #{$base0};
  --base1: #{$base1};
  --base2: #{$base2};
  --base3: #{$base3};

  --yellow: #{$yellow};
  --orange: #{$orange};
  --red: #{$red};
  --magenta: #{$magenta};
  --violet: #{$violet};
  --blue: #{$blue};
  --cyan: #{$cyan};
  --green: #{$green};

  --primary: var(--red);
  --highlight: var(--red);
  --highlight2: var(--orange);

  --color-title: $base0;
  --color: #{$base3};
  --color2: #{$red};

  --footer-color-fg: #{$base2};
  --footer-color-bg: #{$base03}; // note: see components/layout

  --#{$prefix}pagination-bg: #{$base03};
  --#{$prefix}pagination-border-color: $base0;

  // https://drafts.csswg.org/css-ui-4/#widget-accent
  // https://caniuse.com/?search=accent-color
  accent-color: var(--primary);

  color-scheme: dark;
}
