article {
  position: relative;

  .post-title {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $red;


  }

  .component--archive-card {
    .is--date {
      min-width: 175px;
    }

    .is--content {
      margin-bottom: 1rem;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      h2 {
        margin-bottom: 0;
      }

      /* stylelint-disable-next-line selector-max-compound-selectors */
      p {
        margin-bottom: 0;
      }
    }
  }

  /**
 * This is the article headline in lists and outside of `prose`
 */
  h1.post-title a,
  h2.post-title a {
    @extend .fontsize-5;
    @extend .text-uppercase;
  }

  .is--publishdate {
    text-transform: uppercase;
  }

  .ribbon {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 1010;

    color: $base3;
    text-align: center;

    &.status--draft {
      background-color: $red;
    }

    @extend .py-1;
    @extend .px-2;

  }

  .is--date {
    white-space: nowrap;
  }

}
