figure {
  position: relative;

  margin-bottom: 0;
  padding: 3px;

  color: var(--card-header-link-color-hover);

  font-weight: $font-weight-bold;
  font-variant: small-caps;

  background-color: $primary;

  figcaption {
    color: $orange;
  }

  .inline-icons {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: $red;
    line-height: 1;

    background-color: rgba($base03, 0.1);

    div {
      padding: 0.5rem;
    }

    &:hover {
      background-color: rgba($base03, 0.5);
    }

  }

  picture,
  img,
  .iframe-border,
  video {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 2/1;
  }

  a {
    color: var(--card-header-link-color);

    &:hover {
      color: var(--card-header-link-color-hover);
    }
  }
}
