body {
  background-color: var(--sol-base03);
}

section {
  margin-bottom: 0;
  padding-bottom: 1rem;

}

main {
  padding-top: $heading-height+30px;
}

.section--content {
  border-bottom-right-radius: 10px;
}

/**
 * fix navigation overflow for anchor links
 */
// :target::before {
// 	display: block;
// 	height: $heading-height;
// 	margin: -$heading-height 0 0;

// 	content: '';
// }

/*******************************************************************************
 * full bleed grid layout
 ******************************************************************************/
$layout-character-width: 65ch !default;

.wrapper {
  display: grid;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr #{'min($layout-character-width, 100%)'} 1fr;

  >* {
    grid-column: 2;
  }

}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}
