/*******************************************************************************
 * firefox
 ******************************************************************************/
* {
  scrollbar-width: auto;
  scrollbar-color: $primary $card-bg;
}

/*******************************************************************************
 * chrome, edge, and safari
 ******************************************************************************/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $card-bg;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid $primary;

  background-color: $primary;
}
