/*******************************************************************************
 * firefox
 ******************************************************************************/
* {
  scrollbar-width: auto;
  scrollbar-color: $primary $base03;
}

/*******************************************************************************
 * chrome, edge, and safari
 ******************************************************************************/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $base03;
}

*::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: $border-radius;

  background-color: $primary;

}
