/*******************************************************************************
 * bodysetup
 ******************************************************************************/

/*******************************************************************************
 * full bleed grid layout
 ******************************************************************************/
$layout-character-width: 65ch !default;

/* @todo find out how to implement css functions like min/calc etc... */

.wrapper {
  display: grid;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: 1fr #{'min(65ch, 100%)'} 1fr;

  >* {
    grid-column: 2;
  }

}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}

/*******************************************************************************
 * content area
 ******************************************************************************/
#content {
  padding-top: $heading-height + 30px;
  @extend .wrapper;
}
